#title{
	-fx-font-family:"URW Bookman";
	-fx-font-size:32;
	-fx-text-fill:white;
	-fx-padding:15px;
}
#txt{
	-fx-font-size:12;
	-fx-text-fill:white;
}
#basePane{
	-fx-background-color:#383A40;
	-fx-margin:10%;
}
#playPane{
	-fx-background-radius:5%;
	-fx-border-radius:5%;
	-fx-background-color:#272727;
	-fx-border-color:gray;
}
#btnBox{
	-fx-padding:20px;
}
.btn: hover{
	-fx-opacity:0.8;
}
.btn {
	-fx-padding:15px;
	-fx-font-size:25px;
	-fx-background-radius:25px;
	-fx-text-fill:white;
	-fx-background-color:#555555;
}
#playBtn{
	-fx-background-color:darkgreen;
}
#rndBtn{
	-fx-background-color:dodgerblue;
}
#extBtn{
	-fx-background-color:maroon;
}
.boardCell: hover {
	-fx-border-width:5px;
	-fx-border-color:maroon;
	-fx-text-fill:white;
	-fx-border-style:solid;
}
.boardCell{
	-fx-border-width:1px;
	-fx-border-color:#303030;
	-fx-border-style:dashed;
	-fx-text-fill:transparent;
	-fx-background-color:transparent;
}
#bcVert: hover{
	-fx-border-width:5 5 0 5;
	-fx-border-color:white;
}
#bcHori: hover{
	-fx-border-width:5 0 5 5;
	-fx-border-color:white;
}
.list-cell{
	-fx-text-fill:white;
	-fx-background-color:transparent;
}
.list-view{
	-fx-border-width:0;
	-fx-text-fill:white;
	-fx-background-color:transparent;
/*	-fx-background-color:red;*/
}
.guide{
	-fx-text-fill:white;
	-fx-border-color:gray;
}
#hg{
	-fx-border-width:0 1 0 1;
}
#vg{
	-fx-border-width:1 0 1 0;
}
#splash{
	-fx-background-color:navy;
}
#battleground{
	-fx-background-color:dodgerblue;
}
#error{
	-fx-background-color:maroon;
}
#shipYard{
	-fx-background-color:#272727;
/*	-fx-background-radius:0 0 15 15;*/
	-fx-background-radius:25;
}
#shipHit{
	-fx-background-color:maroon;
	-fx-text-fill:white;
}
.ship: hover{/*
	-fx-border-width:5px;
	-fx-border-color:white;
	-fx-text-fill:white;
	-fx-border-style:solid;*/
	-fx-border-color:white;
}
.ship{
	-fx-text-fill:white;
}
#carrier{
	-fx-background-color:gray;
}
#cruiser{
	-fx-background-color:green;
}
#destroyer{
	-fx-background-color:darkorange;
}
#submarine{
	-fx-background-color:teal;
}
/*#hitCell{
	-fx-background-color:red;
}*/