#boardCell: hover {
	-fx-border-width:5px;
	-fx-border-color:white;
	-fx-text-fill:white;
	-fx-border-style:solid;
}
#boardCell{
	-fx-border-width:1px;
	-fx-border-color:#272727;
	-fx-border-style:dashed;
	-fx-background-color:dodgerblue;
	-fx-text-fill:transparent;
}
#battleground{
	-fx-background-color:dodgerblue;
}
#error{
	-fx-background-color:maroon;
	-fx-border-width:2px;
	-fx-border-color:maroon;
	-fx-border-style:solid;
}
#shipHit{
	-fx-backgroound-color:red;
}
#carrier{
	-fx-backgroound-color:gray;
}
#cruiser{
	-fx-backgroound-color:gray;
}
#destroyer{
	-fx-backgroound-color:gray;
}
#submarine{
	-fx-backgroound-color:gray;
}
/*#hitCell{
	-fx-background-color:red;
}*/